$customWhite: rgb(255, 255, 255);
$customBlack: rgba(0, 0, 0, 0.90);
$customPink: rgb(243,08,108);

$primary: $customBlack;
$link-color: $customPink;
$link-colorHover: $customWhite;
$secondary:rgb(148,0,148);

$bgOpacity:rgba(0, 0, 0,0.8);

$font-primary:Righteous;
$font-secondary:Barlow;