@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";

@font-face {
    font-family: 'Righteous', cursive;
    @import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
}

@font-face {
    font-family: 'Barlow', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
}
body {
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    height:100vh;
}

.navbar{
    background:$primary;
}
.navbar-nav{
    a{
        color:$link-color;
        font-family: $font-primary;
        font-size:20px;
        transition:0.2s ease-out;
    }
    a:hover{
        text-decoration: none;
        color:$link-colorHover;
        transition: 0.2s ease-in;
    }

    .link-active{
        color:$link-colorHover;
        text-decoration: none !important;
    }
}

.top-footer{
    width:100%;
    display:inline-flex;
    justify-content: center;
    align-content: center;
    background:$link-color;
    a{
        color:$link-colorHover;
        font-family: $font-secondary;
        font-size:20px;
        transition:0.2s ease-out;
        margin:5px;
    }
    a:hover{
        text-decoration: none;
        color:$secondary;
        transition: 0.2s ease-in;
    }
}

.bottom-footer{
    background:$primary;
    display:flex;
    justify-content: center;
    align-content: center;
    a{
        color:$link-color;
        font-family: $font-primary;
        font-size:20px;
        transition:0.2s ease-out;
        margin:10px;
    }
    a:hover{
        text-decoration: none;
        color:$link-colorHover;
        transition: 0.2s ease-in;
    }
}

header{
    flex-shrink: 0;
    border-bottom: solid 5px $link-color;
    z-index: 1;
}

footer{
    flex-shrink: 0;
}
#content{
    flex: 1 0 auto;
}

@media screen and (max-width: 767.98px){
    header{
        position:fixed;
        width:100%;
    }
    #content{
        margin-top:80px;
    }
    .navbar-toggler{
        background:transparent;
        transition:0.2s ease-out;
    }
    .navbar-toggler:hover{
        background:$link-colorHover;
        transition:0.2s ease-in;
    }
    .navbar-toggler:focus, .navbar-toggler:active {
        background:$link-colorHover;
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(243,08,108)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

@media screen and (min-width: 768px){
    .navbar-nav{
        display:flex;
        justify-content: center;
        align-items: center;
        a{
            margin:5px;
        }
    }
}