<h1>Tu as reçu un nouveau message !</h1>
<p>Nouveau message reçu sur le site Wild Circus :</p>
<p><b>Message reçu de :</b></p>
<p>{{ user.email }}</p>
<p><b>Sujet :</b></p>
<p>{{ user.category }}</p>
<p><b>Message :</b></p>
<p>{{ user.content }}</p>

<h2>A ton service !</h2>